.flex-div img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

nav{
    height: 56px;
    padding: 10px 1rem;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: #0f0f0f;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow-x: hidden;
}
.nav-left .menu{
    width: 22px;
    margin-right: 25px;
    font-size: 24px;
}
.nav-left{
    position: relative;
}
.nav-left p{
    position: absolute;
    right: -10px;
    top: -1px;
    font-size: 0.6rem;
    cursor: pointer;
}
.nav-left h3{
    cursor: pointer;
}

.nav-middle{
    width: 30vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    overflow: hidden;
    background-color: #222222;
    border: 1px solid #303030;
}
.nav-middle input{
  width: 90%;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 0.9rem;
  background-color: #0a0a0a;
  border: none;
  outline: none;
  color: white;
}
.search-icon{
    width: 10%;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-right{
    gap: 1.5rem;
    font-size: 24px;
}
.microphone{
    padding: 0.75rem;
    background-color: #3d3d3d;
    border-radius: 50px;
    margin-left: .7rem;
}