.SearchContentContainer {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
}

.maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%; /* Ensure it takes the full width */
}

.wrapperr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 1rem;
    gap: 10px;
    cursor: pointer;
    width: 100%; /* Adjust as needed */
    overflow-x: hidden;
}

.search-card {
    border-radius: 20px;
    width: 350px;
    height: 220px;
}

.search-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
}

.views-uploadtime {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.desc {
    margin-top: 1rem;
    font-size: medium;
    color: #cdc9c9;
}
.SearchContentContainer::-webkit-scrollbar {
    width: 15px;
   
  }
  
  .SearchContentContainer::-webkit-scrollbar-track {
    background: #0F0F0F; /* Black */
  }
  

  .SearchContentContainer::-webkit-scrollbar-thumb {
    background: #cecdcd; /* Dark gray */
    height: 200px;
  }
  
  /* Define scrollbar thumb on hover color */
  .SearchContentContainer::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b; /* Light gray */
  }
@media (max-width: 1000px) {
    .wrapperr {
        grid-template-columns: 1fr;
        gap: 0;
        width: 90%; /* Adjust as needed */
    }
}

