*{
margin:0;
padding:0;
box-sizing:boder-box;
font-family: sans-serif;
color: white;
}
body{
    background-color: #0f0f0f;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.flex-div{
    display: flex;
    align-items: center;
}
