.videoContainer{
    width: 100%;
    height: 100vh;
  
}
.VideoContainer {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.mainvideo {
    flex: 2;
}

.mainvideo iframe {
    border-radius: 20px;
    width: 1280px;
    height: 725px;
}

.suggestion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%; /* Adjust this to control the maximum height */
    overflow-y: auto;
    scroll-behavior: smooth;
    
}


.suggestion::-webkit-scrollbar {
    width: 10px;
}

.suggestion::-webkit-scrollbar-track {
    background: #0F0F0F;
}

.suggestion::-webkit-scrollbar-thumb {
    background: #cecdcd;
    height: 200px;
}

.suggestion::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.suggestionItem {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 1rem;
    gap: 10px;
    cursor: pointer;
}

.Card {
    width: 167px;
    height: 94px;
    border-radius: 15px;
}

.Card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suggestion h4 {
    font-size: 1rem;
}

.suggestion p {
    font-size: .8rem;
    color: #9c9898;
    margin-left: 0;
}

.othervideo {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.name-subscribe {
    display: flex;
    align-items: center;
}

.name-subscribe p {
    padding: 0.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: #0F0F0F;
    font-size: small;
}

.tools {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.align {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: #272727;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;
}

.share {
    height: 40px;
    width: 100px;
}

.download {
    height: 40px;
    width: 110px;
}

.more {
    height: 30px;
    width: 50px;
}

.like-dislike {
    display: flex;
    width: 130px;
    height: 40px;
    justify-content: space-around;
    background-color: #272727;
   	align-items: center;
   	border-radius: 25px;
}

.like {
    font-size: 24px;
    cursor: pointer;
}

.Like-container {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.Like-container p {
    margin: 0;
}

.line-p {
    height: 75%;
    background-color: rgb(86, 86, 86);
    width: 1px;
}

.iconss {
    font-size: 16px;
}
.channlename{
    font-weight: bold;
    font-size: 0.9rem;
}
.image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
 
}
.logo {
    display: flex;
    align-items: center;
}
.subsciber{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.subsciber span{
    font-size: 0.9rem;
    color: #9c9898;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
@media (max-width: 1836px) {
    .VideoContainer {
        flex-direction: column;
        height: 100vh; /* Adjust height to full viewport */
        overflow-y: auto;
        overflow-x: hidden;
    }
    .mainvideo {
        flex: none; /* Reset flex property */
        width: 100%;
    }
    .mainvideo iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
    .suggestion {
        flex: 1;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
       
    }
   
}
@media only screen and (max-width:768px){
    .share{
        display: none;
    }
    .download{
        display: none;
    }
    .more{
        display: none;
    }
    .Subscribe-btn{
        margin-right: 5px;
    }
    .name-subscribe p{
        justify-content: flex-start;
    }
}